# Discord API https://github.com/Pycord-Development/pycord
git+https://github.com/Pycord-Development/pycord

# Needed to use voice.
pynacl

# AI Voice https://github.com/lugia19/elevenlabslib
elevenlabslib
soundfile
sounddevice

# Used to normalize audio levels and combine audio files.
pydub

# Requests for making API calls.
requests
